/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*Generales*/
*{
	box-sizing: border-box;
	/*border: 1px solid red;*/
}


html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightgray;
	font-family: 'Lexand Deca', sans-serif;
}

/*estilos de los elementos*/

.principal{
	max-width: 768px;
	min-width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.columna{
	height: 500px;
	color: white;
	padding: 2rem;
	width: 25%;
	overflow: hidden;
	transition: width .3s ease-in-out;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.columna.activa{
	width: 50%;
}

.columna:first-of-type {
	border-radius: 1rem 0 0 1rem;
}

.columna:last-of-type {
	border-radius: 0 1rem 1rem 0;
}


.columna-1{
	background-color: hsl(31, 77%, 52%);
}

.columna-2{
	background-color: hsl(184, 100%, 22%); 
}

.columna-3{
	background-color: hsl(179, 100%, 13%); 
}

.titulo{
	font-family: 'Big Shoulders Display', cursive;
	font-size: 2rem;
	text-transform: uppercase;
}

.texto{
	color: hsla(0, 0%, 100%, 0.75);
	font-size: 17px;
	margin-bottom: 4rem;
	flex-grow: 1;
}

.enlace{
	text-decoration: none;
	background-color: white;
	padding: .5rem 1rem;
	border-radius: 1rem;
	font-size: 12px;
	font-weight: bold;
}

.columna-1 .enlace{
	color: hsl(31, 77%, 52%);
}
.columna-2 .enlace{
	color: hsl(184, 100%, 22%); 
}
.columna-3 .enlace{
	color: hsl(179, 100%, 13%);
}
















